.firstDiv {
  display: flex;
  /* border: 2px solid black; */
  height: fit-content;
  column-gap: 280px;
}
.secondDiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: aliceblue; */
}
.mainDiv {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
  /* background-color: aliceblue; */
}

.secondDiv1 {
  box-shadow: rgba(162, 219, 215, 0.35) 0px 5px 15px;

  background-color: black;
}
.user1 {
  display: flex;
  column-gap: 30px;
  border-bottom: 1px solid grey;
}
img {
  width: 80px;
  height: 80px;
  /* border: 2px solid red; */
}

@media only screen and (max-width: 756px) {
  .firstDiv {
    display: flex;
    /* border: 2px solid black; */
    height: fit-content;
    column-gap: 50px;
  }
}
